ValidarCC/ValidadorService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://control/" name="ValidadorService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://control/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://control/" schemaLocation="ValidadorService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="validCC">
    <part name="parameters" element="tns:validCC"/>
  </message>
  <message name="validCCResponse">
    <part name="parameters" element="tns:validCCResponse"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <message name="isNumber">
    <part name="parameters" element="tns:isNumber"/>
  </message>
  <message name="isNumberResponse">
    <part name="parameters" element="tns:isNumberResponse"/>
  </message>
  <message name="getCardName">
    <part name="parameters" element="tns:getCardName"/>
  </message>
  <message name="getCardNameResponse">
    <part name="parameters" element="tns:getCardNameResponse"/>
  </message>
  <message name="validCCNumber">
    <part name="parameters" element="tns:validCCNumber"/>
  </message>
  <message name="validCCNumberResponse">
    <part name="parameters" element="tns:validCCNumberResponse"/>
  </message>
  <message name="getCardID">
    <part name="parameters" element="tns:getCardID"/>
  </message>
  <message name="getCardIDResponse">
    <part name="parameters" element="tns:getCardIDResponse"/>
  </message>
  <portType name="Validador">
    <operation name="validCC">
      <input wsam:Action="http://control/Validador/validCCRequest" message="tns:validCC"/>
      <output wsam:Action="http://control/Validador/validCCResponse" message="tns:validCCResponse"/>
      <fault message="tns:Exception" name="Exception" wsam:Action="http://control/Validador/validCC/Fault/Exception"/>
    </operation>
    <operation name="isNumber">
      <input wsam:Action="http://control/Validador/isNumberRequest" message="tns:isNumber"/>
      <output wsam:Action="http://control/Validador/isNumberResponse" message="tns:isNumberResponse"/>
    </operation>
    <operation name="getCardName">
      <input wsam:Action="http://control/Validador/getCardNameRequest" message="tns:getCardName"/>
      <output wsam:Action="http://control/Validador/getCardNameResponse" message="tns:getCardNameResponse"/>
    </operation>
    <operation name="validCCNumber">
      <input wsam:Action="http://control/Validador/validCCNumberRequest" message="tns:validCCNumber"/>
      <output wsam:Action="http://control/Validador/validCCNumberResponse" message="tns:validCCNumberResponse"/>
    </operation>
    <operation name="getCardID">
      <input wsam:Action="http://control/Validador/getCardIDRequest" message="tns:getCardID"/>
      <output wsam:Action="http://control/Validador/getCardIDResponse" message="tns:getCardIDResponse"/>
    </operation>
  </portType>
  <binding name="ValidadorPortBinding" type="tns:Validador">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="validCC">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="isNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCardName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="validCCNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCardID">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ValidadorService">
    <port name="ValidadorPort" binding="tns:ValidadorPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

